@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
   
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(177, 225, 255);
}


.header {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    height: auto;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vh;
    text-align: center;
    color: black;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: 1px solid #69c5ff;
    border-radius: 5px;
    background-color: rgb(227, 248, 255);
    color: rgb(17, 37, 49);
    text-align: center;
    padding: 5px;
  }
  
  input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #69c5ff;
  }
  
  #tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  :checked + label {
    text-decoration: line-through;
    color: grey;
  }

@media screen and (max-width: 650px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .wrapper {
        margin-top: 10vh;
    }
}